*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
 @font-face {
    font-family: Robot; 
    src: url(../fonts/10626.ttf);
   }
 @font-face {
    font-family: OpenSans; 
    src: url(../fonts/2211.ttf);
   }
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
    margin: 0 auto;
    max-width: 1300px;
    flex-direction: column;
    display: flex;
    min-width: 350px;
}
.main{
    height: 100%;
  flex: 1 0 auto;
}
.colorWoman{
    color: crimson;
}
.b-header{
    width: 100%;
    height: 50px;
    padding-left: 30px;
    padding-right:30px;
    box-sizing: border-box;
}
.b-menu{
    width: 100%;
    height: 50px;
    display: flex;
    padding-left: 30px;
    padding-right:30px;
    box-sizing: border-box;
    justify-content: space-between;
}
.b-ad{
    display: flex;
    width: 100%;
    height: 400px;
}
.b-offer{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
}
.b-product{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
}
.b-info{
    width: 100%;
    height: 400px;
    display: flex;
}
.b-footer, 
.b-footers{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
     padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
   flex: 0 0 auto;

}
.b-footers{
    padding-top: 20px;
}
.b-footer span{
    transform: translateY(200%);
    height: 10px;
    
}

/*HEADER*/

.b-header_title,
.b-header_title2,
.b-header_title3{
    font-size: 30px;
    font-weight: 600;
    font-family: "OpenSans";
    line-height: 2;
    letter-spacing: 1;
    text-decoration: none;
    color: black;
}
.b-header_title2:hover{
    color: crimson;
}

.b-header_title2{
    display: none;
}
.b-header_email{
    font-size: 13px;
}
.b-header_left{
    float: right;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 25%;
    line-height: 2;
}
.b-header_bag{
        font-size: 13px;
        text-decoration: none;
        color: black;
}

.b-header_bag:hover{
    color: crimson;
}
/*BANNER*/

.b-ad_banner{
    width: 50%;
    float: left;
    background-size: cover;
    position: relative;
}
.b-ad_bannerLeft{
    background-image: url(../img/banerLeft.png);
    background-color: white;
    border: 1px solid lightgray;
    border-left: none;
}
.b-ad_bannerRight{
    background-image: url(../img/banerRight.png);
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-right: none;
    border-left: none;
}
.b-ad_banner_title{
    position: absolute;
    right: 90px;
    top: 40px;
    text-align: center;
    font-weight: 100;
}
.b-ad_bannerTitleCursive{
     font-family: "Times New Roman";
    font-style: italic;
    font-size: 15px;
}
.b-header_title:hover{
    color: crimson;
}
.b-ad_banner a{
    display: block;
    width: 100%;
    height: 100%;
}
/*FOOTER*/

.b-footer_info{
    font-size: 14px;
    font-weight: 600;
    
}
.b-footer_share{
    display: flex;
}
.b-footer_shareTitle{
    font-size: 20px;
    font-weight: bold;
}
.b-footer_window{
    position: relative;
    background-color: whitesmoke;
    width: 50px;
    height: 20px;
    margin-left: 10px;
    margin-top: 3px;
    padding-left: 3px;
}
 .b-footer_window::after {
    position: absolute;
    content: '';
     left: -14px;
     top:3px;
    border:7px solid transparent;
    border-right: 7px solid whitesmoke;
   }
.b-footer_link{
    text-decoration: none;
    font-size: 14px;
    font-weight:600;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}
.b-footer_link:hover{
    color: crimson;
}


/*INFO*/

.inconsBlue{
    color: aquamarine;
}
.inconsGray{
    color: grey;
}
.inconsDarkBlue{
    color: darkblue;
    width: 50px;
}
.b-info_div{
    width: 50%;
    border: 1px solid gray;
    border-left: none;
}
.b-info_divRight{
    border-right: none;
}
.b-info_divRight_first{
    float: left;
    width: 45%;
    padding-left: 30px;
    padding-top: 35px;
}
.b-info_divRight_second{
    float: left;  
    padding-top: 35px;

}
.b-info_divRight_phrase{
    float: left;  
    width: 80%;
    padding: 35px;
}
.b-info_divRight_net{
     float: left;  
    padding: 0 35px;
}
.b-info_divLeft{
   display: flex;
    
}
.b-info_text{
    font-size: 15px;
    padding: 10px 0;
}
.b-info_link{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.b-info_phrase{
    font-family: "Times New Roman";
    font-style: italic;
    line-height: 30px;
    word-spacing: 2px;
        color: gray;
}
.b-info_button{
    text-decoration: none;
    border: none;
    background-color: white;
    width: 30px;
    height: 30px;
}
.b-info_ul{
    list-style: none;
    width: 50%;
    padding-left: 5%;
    
}
.b-info_ul li{
    padding: 10px;
    font-size: 15px;
}
.b-info_ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.b-info_ulTitle{
    padding:35px 10px;
    font-size: 20px;
    font-weight: 600;
}
#link2{
    display: none;
}
.b-info_ulTitle2{
     font-size: 20px;
    font-weight: 600;
}

/*BEST OFFER*/

.b-offer_blockFirst{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}
.b-offer_title{
    font-size: 50px;
    font-weight: 600;
    font-family: "OpenSans";
}
.b-offer_text{
    color: black;
}
.b-offer_blockSecond{
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    box-sizing: border-box;
    height: 80%;
    padding-bottom: 30px;
}
.b-offer_slider{
    width: 25%;
    background-color: white;
    height: 100%;
}
.b-offer_divZnak{
    width: 10%;
    vertical-align:bottom;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.b-offer_divZnak:before{
    content: "";
  display: inline-block;
  height: 50%;
  vertical-align: middle;
}
.b-offer_result{
    width: 30%;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
}
.b-offer_result:before{
  content: "";
  display: inline-block;
  height: 40%;
  vertical-align: middle;
}
.b-offer_oldPrice{
    color: gray;
    font-size: 25px;
    padding: 5px 0;
    padding-left: 25%;
    position: relative;
}
.b-offer_oldPrice:before {
  position: absolute;
  content: "";
  left: 25%;
  top: 35%;
  border-top: 1px solid coral;
    width: 102px;
    height: 30px;
  transform:rotate(-25deg);
}
.b-offer_newPrice{
    color: black;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding: 5px 0;
}
.b-offer_buttonBag,
.b-offer_buttonBag2{
    width: 100%;
    height: 50px;
    border: 1px solid lightgray;
    text-align: center;
    text-decoration: none;
    background-color: white;
    margin: 40px 0;
    font-family: "OpenSans";
    font-weight: 600;
    font-size: 20px;
    outline: none;
}
.b-offer_buttonBag2{
    width: 200px;
}
.b-offer_buttonBag_title{
    text-decoration: none;
}

.b-offer_buttonBag:hover,
.b-offer_buttonBag2:hover{
    border-color: crimson;
    color: crimson;
        cursor: pointer;
}
.b-offer_wrapper{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 30px;
    box-sizing: border-box;
    background-color: white;
    float: left;
    box-sizing: border-box;
    display: none;
}
.b-offer_wrapper:hover .b-offer_name{
    color: crimson;
}

.b-offer_foto{
  
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
}
.b-offer_foto a{
    display: block;
    width: 100%;
    height: 150px;
    text-decoration: none;
}
.b-offer_fotoNew{
    width: 60px;
    height: 30px;
    background-color: crimson;
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 15px;
    line-height: 30px;
}
.b-offer_name{
    font-size: 17px;
    font-weight: 600;
    padding: 10px 0;
    padding-top: 40px;
}
.b-offer_hidden{
    display: none;
  font-size: 25px;
  font-weight: 700;
  font-family: 'Segoe UI';
  text-align: center;
  color: crimson;
  animation: fade .5s linear forwards;
    position: absolute;
    top:40%;
    left: 25%;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.b-offer_foto:hover{
  cursor: pointer; 
    background-blend-mode: overlay;
    margin: 0 auto;
    position: relative;
}
.b-offer_foto:hover .b-offer_hidden{
    display: block;
    
}
.b-offer_priece{
/*      font-family: "Roboto";*/
}
.b-offer_slide_arrow{
    width: 100%;
    height: 5%;
    background-color: white;
    text-align: center;
}
.b-offer_slide_arrowImg{
    height: 35px;
}
.b-offer_blockThird{
    display: none;
    text-align: center;
    padding: 50px 0;
}
/*PRODUCT*/
.b-product_buttonBag{
    width: 200px;
    height: 50px;
    border: 1px solid lightgray;
    text-align: center;
    text-decoration: none;
    background-color: white;
    font-family: "OpenSans";
    font-weight: 600;
    font-size: 20px;
}
.b-product_buttonBag:hover{
    border-color: crimson;
    color: crimson;   
    cursor: pointer;

}

.b-product_blockFirst{
    text-align: center;
    padding: 50px 0;
}

.b-product_content{
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    overflow: hidden;
}
.b-product_wrapper{
   width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 30px;
    box-sizing: border-box;
    background-color: white;
    float: left;
    box-sizing: border-box;
}
.b-product_foto{
    background-repeat:no-repeat;
    width: 100%;
    height: 330px;
    background-size: cover;
    background-position: center;
    
}
.b-product_wrapper:hover .b-offer_name{
    color: crimson;
}
.b-product_foto a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.b-product_foto:hover{
  cursor: pointer; 
    background-blend-mode: overlay;
    margin: 0 auto;
    position: relative;
}
.b-product_foto:hover .b-offer_hidden{
    display: block;
    
}
/*MENU*/
.b-menu_searchTablet{
        width: 20px;
        margin-top: 10px;
        position: absolute;
        background-image: url(../img/search.png);
        background-repeat: no-repeat;
        background-size: contain;
        border: none;
        background-color: white;
        outline: none;
    
}
.b-menu_blockSearchTablet{
        width: 5%;
        position: absolute;
        top: 45px;
        right: 20px;
        background-color: white;
        display: none;
     
}
.b-menu_blockSearchTablet_M{
    width: 20%;
    height: 40px;
    position: absolute;
    top: 45px;
    right: 20px;
    background-color: white;
    border-bottom: 1px solid gray;
}
.b-menu_search_M{
    text-decoration: none;
    border: none;
    font-family: "OpenSans";
    font-size: 14px;
    outline: none;
    vertical-align: middle;
    float: left;
    width: 80%;
    margin-left: 20px;
    margin-top: 10px;
   
    display: inline;
}
.hideS{
    display: none;
}
.showS{
    display: inline;
}
.b-menu_nav{
   width: 100%;
    height: 100%;
}
.b-menu *:focus,.b-menu *::before,.b-menu *::after{
    padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: content-box;
}
.b-menu_blockNav{
    position: relative;
    width: 100%;
}
.b-menu_blockSearch{
    width: 15%;
    position: relative;
}
.b-menu_title{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
}
.b-menu_title:hover{
    color: crimson;
}
.b-menu_link{
    list-style: none;
   display: flex;
    justify-content:space-between;
    width: 100%;
}
.b-menu_link li{
    float: left;
    font-family: "OpenSans"; 
}
#lastLi{
    display: none;
}
.b-menu_blockNav:before,
.b-menu_blockSearch:before{
    content: "";
  display: inline-block;
  height: 25%;
  vertical-align: middle;
}
.b-menu_divSearch{
    width: 75%;
    height: 50%;
    border-bottom: 1px solid;   
    border-color: rgb( 168, 168, 168 );
    position: absolute;
    right: 0;
}
.b-menu_search{
    text-decoration: none;
    border: none;
    font-family: "OpenSans";
    font-size: 14px;
    outline: none;
    vertical-align: middle;
    float: left;
    width: 80%;
    
}

   input[type="search"]::-webkit-input-placeholder { color: rgb( 168, 168, 168 );font-weight: bold;}
   input[type="search"]:-ms-input-placeholder { color: rgb( 168, 168, 168 );font-weight: bold; }
   input[type="search"]::-ms-input-placeholder { color: rgb( 168, 168, 168 );font-weight: bold; }
   input[type="search"]::placeholder { color: rgb( 168, 168, 168 ); font-weight: bold;} 
.b-menu_searchButton{
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    width: 20%;
    height: 17px;
    background-size: contain;
    border: none;
    background-color: white;
}

/*MEDIA*/
@media only screen and (max-width:1000px){
    .b-ad_banner_title{
        right: 10px;
    }
    .b-menu_divSearch{
        width: 100%;
    }
     .b-product_foto{
        height: 320px;
    }
}
@media only screen and (max-width:1100px){
 .b-ad{
        height: 300px;
    }
    .b-menu_blockSearch{
        width: 18%;
    }
    .b-menu_blockNav{
        width: 90%;
    }
}
@media only screen and (max-width:900px){
    .b-product_content{
        padding-right: 10px;
        padding-left: 10px;
    }
    .b-header_left{
        width: 30%;
    }
    .b-offer_wrapper,
    .b-product_wrapper{
        padding: 0;
    }
    .b-offer_wrapper{
        padding-top: 10px;
    }
    .b-header_left{
        width: 30%;
    }
}

@media only screen and (max-width:850px){
    .b-offer_foto{
        background-position: top;
    }
     .b-menu{
        height: 80px;
    }
    .b-menu_link{
        display: block;
    }
    .b-menu_link li{
        padding: 5px;
    }
    .b-ad_banner_title{
        right: 0;
    }

    .b-menu_link{
        display: flex;
    }
    .b-menu_blockNav{
        width: 90%;
    }
    .b-menu_title{
        font-size: 15px;
    }
    .b-menu{
        height: 50px;
    }
    .b-ad{
        height: 210px;
    }
    .b-ad_banner_title{
        right: 45px;
        top:15px;
    }
    .b-header_title{
        font-size: 25px;
    }
    .b-header{
        height: 40px;
    }
    .b-offer_blockFirst{
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .b-offer_title{
        font-size: 40px;
    }
 
    .b-offer_divZnak{
        width: 5%;
    }
    .b-offer_result{
        width: 20%;
    }
    .b-offer_slider{
        width: 40%;
        height: 400px;
    }
    .b-offer_newPrice{
        font-size: 27px;
    }
    .b-offer_oldPrice{
        padding-left: 0;
        font-size: 20px;
    }
    .b-offer_oldPrice:before{
        left: 0;
        width: 90px;
    }
    .b-offer_buttonBag{
        display: none;
    }
    .b-offer_blockThird{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .b-offer_blockThird p{
        display: none;
    }
    .b-offer_result:before{
        height: 38%;
    }
    
    .b-product_wrapper{
        width: 33%;
        padding: 0 10px;
    }
    .b-product{
        height: 750px;
    }
    .b-info_div{
        border-right: none;
    }
    .b-info_divRight{
        width: 30%;
    }
    .b-info_divLeft{
        width: 66%;
    }
    .b-info_divRight_phrase{
        display: none;
    }
    .b-info_divRight_first{
        width: 80%;
    }
    .b-info_divRight_second{
        padding-left: 30px;
        padding-bottom: 50px;
    }
    .b-info_divRight_net{
        padding: 0 25px;
    }
    .b-footer_info,
    .b-footer_link{
        font-size: 12px;
        padding-right: 0;
    }
    .b-footer_shareTitle{
        font-size: 15px;
    }
    .b-footer_window{
        width: 40px;
        font-size: 13px;
    }
    #firstLi{
        display: none;
    }
    .b-menu_blockSearchTablet{
        display: block;
    }
}
@media only screen and (max-width:750px){
    .b-menu_title {
        font-size: 12px;
    } 
    .b-menu_link li{
        padding: 0;
    }
     .b-header_left{
        width: 35%;
    }
}
@media only screen and (max-width:650px){
    .b-header_left{
        width: 40%;
    }
}
@media only screen and (max-width:550px){
    .b-menu_blockSearchTablet{
        display: none;
    }
    .b-menu_blockSearch{
      position: relative;  
    }
    .b-menu_searchButton{
        margin: 0;
    }
    .b-product{
        height: 580px;
    }
    .b-header_title{
        display: none;
    }
    .b-header_title2{
        display:inline-block;
        font-size: 25px;
    }
    .b-header_title3{
        font-size: 25px;
    }
    .b-ad_banner_title{
        right: 40px;
    }
    .b-header_email{
        display: none;
    }
    .b-header{
        width: 90%;
        height: 60px;
        float: left;
        border-bottom: 1px solid gray;
    }
    .b-ad_bannerLeft{
        border: 0;
    }
    .b-offer_blockFirst{
        border-top: 1px solid gray;
    }
    .b-ad_bannerRight{
        display: none;
    }
    .b-ad_banner{
        width: 100%;
        background-position: center;
    }
    .b-ad{
        height: 250px;
    }
    .b-offer{
        height: 900px;
    }
    
    .b-offer_title{
        font-size: 30px;
    }
    .b-offer_blockSecond{
        flex-wrap: wrap;
    }
    .b-offer_slider{
        width: 46%;
        height: 90%;
    }
    .b-header_left{
        width: 55%;
        line-height: 3;
    }
    .b-offer_blockSecond{
        padding: 0 10px;
    }
    .b-offer_result{
        display: none;
    }
    .b-offer_wrapper{
        height: 100%;
        padding: 20px 0;
    }

    .b-offer_name{
        font-size: 13px;
        padding: 5px 0;
    }
    .b-offer_priece{
        font-size: 13px;
    }
    .b-offer_foto{
        background-size: cover;
    }
    .b-offer_buttonBag{
        display: block;
    }
    #ravno{
        display: none;
    }
    .b-offer_blockThird{
        padding: 5px 0;
        height: 25%;
        padding-bottom: 20px;
    }
    .b-offer_blockThird p{
        display: block;
    }
    .b-offer_oldPrice:before{
        left: 40%;
        top: 30%;
        transform: rotate(-30deg);
    }
    .b-offer_newPrice{
        font-size: 35px;
    }
    .b-product_wrapper{
        width: 50%;
        height: auto;
    }
    #link1{
        display: none;
    }
    .b-footer_info{
        font-size: 11px;
        font-weight: 600;
    }
    .b-footer{
        padding: 0 15px;
        
    }
    .b-footers{
        padding-left: 15px;
        padding-right: 15px;
    }
    .b-footer_shareTitle{
        font-size: 13px;
    }
    .b-footer_window{
        margin-top: 0;
        font-size: 12px;
        height: 15px;
    }
    .b-info_divLeft,
    .b-info_divRight{
        width: 100%;
        float: left;
        
    }
    .b-info_divLeft{
        padding-bottom: 70px;
    }
    .b-info_divRight{
        border-top: none;
    }
    .b-info{
        display: block;
    }
    .b-info_divRight_first{
        width: 45%;
        padding-left: 20px;
        padding-bottom: 49px;
        padding-right: 5px;
        border-collapse: collapse;
            border-right: 1px solid gray;
    }
    .b-info_divRight_second{
        padding-left: 20px;
        
    }
    #link2{
        display: inline-block;
    }
    .b-footer_link{
        width: 80%;
    }
    .b-info_divRight_net{
        float: right;
        padding-right: 0;
    }
    #b-info_botton{
        padding: 20px 10px;
        width: 100%;
        float: left;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid gray;
        box-sizing: border-box;

    }
    .b-info_ulTitle,
    .b-info_ulTitle2{
        font-size: 18px;
    }
    .b-info_text{
        font-size: 13px;
    }
    .b-info_ul li{
        font-size: 14px;
    }
}


/*BURGER*/
@media screen and (max-width: 550px) {
    .b-menu_blockSearch{
        width: 50%;
    }
    .b-menu_search{
        display: inline-block;
    }
    .b-menu_searchButton{
        width: 20%;
    }
    .b-menu_divSearch{
        border-bottom: 1px solid;
        border-color: rgb( 168, 168, 168 );
    }
    .b-menu{
        height: 0px;
    }
.b-menu li {
    width: 100%; 
    font-size: 25px;
    padding: 15px 0;
    }
.b-menu ul {
  display: none;}
.b-menu nav::before,
.b-menu::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-image: url(../img/znak.png);
  cursor: pointer;
  height: 24px;
  width: 24px;
}
 .b-menu nav::before,
.b-menu::after {
  background-color: white;
  border: 17.5px solid white;
    outline: 1px solid gray;
    
}
.b-menu::after {
  background-position: -24px -24px;
  z-index: 1;
}
.b-menu nav::before {
  z-index: 2;
}
.b-menu nav:focus::before {
  z-index: 0;
    
}
.b-menu nav:focus ul,
.b-menu ul:hover { 
  display: block;
}
  #lastLi{
    display: block;
      padding-left: 20px;
} 
    #firstLi{
        display: none;
    }
    .b-menu_blockNav:before,
.b-menu_blockSearch:before{
    content: "";
  display: inline-block;
  height: 0;
  vertical-align: middle;
}
}

@media only screen and (max-width:400px){
    .b-offer_hidden{
        left: 10%;
    }
    .b-ad_banner{
        background-position: left;
    }
    .b-offer_foto{
        height: 300px;
    }
    .b-product_foto{
        height: 250px;
    }
}
@media only screen and (max-width:350px){
     .b-menu nav::before, .b-menu::after{
        position: fixed;
    }
}
